body {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  color: #0F0F0F;
}

.container {
  width: 1920px;
  padding: 0px 120px;
}

.fat-style {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.23;
  letter-spacing: 0.07em;
}

.button {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 0.07em;
  border: 1px solid #0F0F0F;
  text-transform: uppercase;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

.header__container {
  position: absolute;
}

.header__body {
  display: flex;
  align-items: center;
  padding-top: 33px;
}

.header__list {
  display: flex;
  gap: 26px;
}

.heder__link-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.07em;
  color: #0F0F0F;
  text-transform: uppercase;
}

.header__logo {
  margin-left: 49px;
  width: 121px;
  height: 104px;
}

.header__icon-navigation {
  display: flex;
  gap: 73px;
  margin-left: auto;
}

.header__icon-search {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header__icon-favorite {
  width: 28px;
  height: 25px;
  cursor: pointer;
}

.header__icon-basket {
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.header__icon-user {
  width: 21px;
  height: 25px;
  cursor: pointer;
}

.hero__body {
  display: flex;
}

.hero__content {
  width: 46%;
}

.hero__title {
  margin-bottom: 22px;
  margin-top: 376px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.07em;
}

.hero__subtitle {
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.07em;
}

.hero__button {
  padding: 25px 90px;
}

.hero__img-wrapper {
  margin-top: 37px;
  width: 40%;
}

.hero__img {
  background-image: url("../img/hero/hero.png");
  width: 737px;
  height: 1044px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.discounts {
  background: #F5F5F5;
}

.discounts__list {
  display: flex;
  gap: 40px;
  padding: 29px 0px 36px 0px;
}

.discounts__item {
  display: flex;
  align-items: center;
  width: 534px;
  background-color: #FFFFFF;
}

.discounts__thumb {
  padding: 48px 0px;
}

.discounts__subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.07em;
}

.card__container {
  padding: 90px 120px 96px 120px;
}

.card__list-top {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 168px;
  margin-bottom: 104px;
  color: #878787;
}
.card__list-top::after {
  content: "";
  position: absolute;
  display: block;
  top: 50px;
  border-bottom: 1px solid #0F0F0F;
  width: 750px;
}

.card__list-item {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0.07em;
}
.card__list-item:hover {
  color: #0F0F0F;
}

.card__list-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 61px;
  row-gap: 96px;
  margin-bottom: 73px;
}

.card__img-man {
  margin-bottom: 13px;
}

.card__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  color: #CECECE;
}

.card__img-stars {
  margin-right: auto;
}

.wrapper-span {
  display: flex;
  gap: 10px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.22;
  text-transform: uppercase;
}

.S,
.M,
.L {
  cursor: pointer;
}
.S:hover,
.M:hover,
.L:hover {
  color: #000;
}

.card__name {
  margin-bottom: 25px;
}

.card__button-wrapper {
  display: flex;
  justify-content: center;
}

.card__button {
  padding: 25px 61px;
}

.news {
  background-color: #F5F5F5;
}

.news__container {
  padding-top: 79px;
  padding-bottom: 78px;
}

.news__list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 92px;
  margin-bottom: 91px;
}
.news__list::after {
  content: "";
  position: absolute;
  display: block;
  top: 50px;
  border-bottom: 1px solid #0F0F0F;
  width: 360px;
}

.news__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0.07em;
  color: #878787;
}
.news__item:hover {
  color: #0F0F0F;
}

.news__card {
  display: flex;
  justify-content: center;
  gap: 63px;
  margin-bottom: 77px;
}

.news__card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/news/background.png"), url("../img/news/man.png");
  background-size: cover;
  height: 450px;
  width: 810px;
}
.news__card-item:hover {
  background-image: url("../img/news/background-black.png"), url("../img/news/man.png");
}

.news__card-item:hover .news__button-card {
  color: #0F0F0F;
  background-color: #FFFFFF;
}

.news__title {
  margin-bottom: 27px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.news__button-card {
  padding: 21px 94px;
  background-color: inherit;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.new__wrapper-button {
  display: flex;
  justify-content: center;
}

.news__button {
  padding: 25px 76px;
}

.subscribe__container {
  padding-top: 69px;
  padding-bottom: 70px;
}

.subscribe__body {
  display: flex;
  align-items: center;
}

.subscribe__text {
  width: 615px;
  margin-right: 62px;
}

.subscribe__icon-wrapper {
  display: flex;
  align-items: center;
  gap: 31px;
  margin-right: 50px;
}

.subscribe__icon-viber {
  width: 53px;
  height: 56px;
}

.subscribe__icon-telegram {
  width: 47px;
  height: 41px;
}

.subscribe__form {
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 453px;
  padding: 26px 90px 26px 66px;
}

.subscribe__input::placeholder {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.07em;
}

.subscribe__button {
  padding: 25px 108px;
  color: #FFFFFF;
  background-color: #0F0F0F;
}

.contact {
  background-color: #636363;
}

.contact__container {
  padding-top: 194px;
  padding-bottom: 109px;
}

.contact__body {
  display: flex;
}

.contact__logo {
  width: 176px;
  height: 151px;
  margin-right: 198px;
  fill: #FFFFFF;
}

.contact__wrapper-about {
  margin-right: 140px;
}

.contact__title-about {
  margin-bottom: 64px;
  color: #FFFFFF;
}

.contact__list-about {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact__item-about {
  color: #FFFFFF;
}

.contact__wrapper-customers {
  margin-right: 92px;
}

.contact__title-customer {
  margin-bottom: 64px;
  color: #FFFFFF;
}

.contact__list-customer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact__item-customer {
  color: #FFFFFF;
}

.contact__list-tel {
  margin-bottom: 49px;
}

.contact__link-tel {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.contact__wrapper-all-icon {
  display: flex;
  gap: 59px;
}

.contact__list-messeger {
  display: flex;
  gap: 26px;
  align-items: center;
}

.contact__icon-viber {
  stroke: #FFFFFF;
  width: 23px;
  height: 24px;
}

.contact__icon-telegram {
  stroke: #FFFFFF;
  width: 20px;
  height: 21px;
}

.contact__icon-whatsapp {
  stroke: #FFFFFF;
  width: 24px;
  height: 24px;
}

.contact__list-social {
  display: flex;
  gap: 26px;
  align-items: center;
}

.contact__icon-note {
  stroke: #FFFFFF;
  width: 25px;
  height: 17px;
}

.contact__icon-fb {
  stroke: #FFFFFF;
  width: 15px;
  height: 25px;
}

.contact__icon-instagram {
  stroke: #FFFFFF;
  width: 23px;
  height: 24px;
}

.footer {
  background-color: #333333;
}

.footer__container {
  padding-top: 34px;
  padding-bottom: 43px;
}

.footer__body {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.85;
  letter-spacing: 0.07em;
  color: rgba(255, 255, 255, 0.25);
}

.footer__law {
  margin-right: 30px;
}

.footer__design {
  margin-left: auto;
  margin-right: 10px;
}

.footer__logo-galaxy {
  width: 91px;
  height: 36px;
}/*# sourceMappingURL=main.css.map */