.news{
    background-color: #F5F5F5;
}
.news__container {
    padding-top: 79px;
    padding-bottom: 78px;
}
.news__list {
    display: flex;
    justify-content: center;
    gap: 92px;
    margin-bottom: 91px;
}
.news__item {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: 0.07em;
    color: #878787;
}
.news__card {
    display: flex;
    justify-content: center;
    gap: 63px;
    margin-bottom: 77px;
}
.news__card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('../img/news/background.png'), url('../img/news/man.png');
    background-size: cover;
    height: 450px;
    width: 810px;
    &:hover{
        background-image: url('../img/news/background-black.png'), url('../img/news/man.png');
    }
}
.news__card-item:hover .news__button-card {
        color: $black-color;
        background-color: $white-color;
}
.news__title {
    margin-bottom: 27px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: 0.07em;
    color: $white-color;
}
.news__button-card {
    padding: 21px 94px;
    background-color: inherit;
    color: $white-color;
    border: 1px solid $white-color;
}
.new__wrapper-button {
    display: flex;
    justify-content: center;
}
.news__button {
    padding: 25px 76px;
}